:root {
  --basic-black: #000000;
  --basic-neutral:#EEEEEE;
  --basic-gray:#A6A6A6;
  --light-gray:#E1E1E1;
  --middle-gray:#DFDFDF;
  --dark-gray:#D5D5D5;
  --border-gray:#DBDBDB;
  --enough-dark-gray:#4D4D4D;
  --extra-dark-gray:#283136;
  --basic-pink:#FB565A;
  --dark-pink:#E74246;
  --extra-dark-pink:#D7373B;
  --basic-green:#00CA74;
  --dark-green:#00BC6C;
  --extra-dark-green:#00AA62;
  --basic-white:#ffffff;
  --basic-yellow:#EFC849;
  --dark-yellow:#EAB534;
  --extra-dark-yellow:#E5A722;
}
body {
  font-family: "Roboto", Arial, sans-serif;
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);

}
.feature-item-1 h3,
.feature-item-2 h3,
.feature-item-3 h3{
font-weight: 700;
font-size: 24px;
}
.about h3 {
  font-weight: 700;
}

.tel {
  color: var(--basic-black);
  font-weight: 400;
}
.about h2 {
font-style: normal;
font-weight: 500;
font-size: 45px;
line-height: 45px;
}
.about h3 {
font-style: normal;
font-size: 16px;
line-height: 30px;
}
.page-footer h3 {
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
}
.slogan{
font-size: 55px;
font-weight: 500;
}
a {
  text-decoration: none;
  color: var(--basic-white);
  font-size: 16px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;

}
img {
  max-width: 100%;
  height: auto;
}
.main-header{
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-black);
  list-style: none;
  background-color: var(--basic-neutral);
  color: var(--basic-black);
}

.slide-1 {
  background-color: var(--basic-neutral);
}
.page-footer {
color: var(--basic-black);
text-transform:none;
font-size: 16px;
}

.filters p {
  font-size: 18px;
  font-weight: 700;
}
.filters span {
  font-size: 16px;
  font-weight: 400;
}

.friendship {
font-size: 36px;
font-weight: 700;
}

.main-nav a{
  color: var(--basic-neutral);
}
.cash-link {
  color: var(--basic-neutral);
}
.accuracy {
font-weight: 700;
font-size: 16px;
}
.table td{
  font-weight: 700;
  font-size: 45px;
}
.table th {
  font-weight: 400;
}

/* User navigation */
.main-nav a{
  color: var(--basic-black);
}
.main-nav a:hover{
  color: var(--basic-pink);
}
.main-nav a:active{
  color: var(--basic-black);
  opacity:30%;
}


.cash-link {
  color: var(--basic-black);
}

.cash-link:hover{
  color: var(--basic-pink);
}

.cash-link:active {
  color: var(--basic-black);
  opacity:30%;
}

.logo a:active {
  color: var(--basic-gray);
}
.slide-1 a{
  color: var(--basic-white);
  background-color: var(--basic-pink);
}
.slide-1 a:hover {
  background-color: var(--dark-pink);
}
.slide-1 a:active {
  color: var(--basic-white);
  opacity:0.3;
  background-color: var(--extra-dark-pink);
}
.feature-item-1 a{
  color: var(--basic-white);
  background-color: var(--basic-pink);
}
.feature-item-1 a:hover {
  background-color: var(--dark-pink);
}
.feature-item-1 a:active {
  color: var(--basic-white);
  opacity:0.3;
  background-color: var(--extra-dark-pink);
}
.feature-item-2 a {
  color: var(--basic-white);
  background-color: var(--basic-green);
}
.feature-item-2 a:hover {
  background-color: var(--dark-green);
}
.feature-item-2 a:active {
  color: var(--basic-white);
  opacity:0.3;
  background-color: var(--extra-dark-green);
}
.feature-item-3 a {
  color: var(--basic-white);
  background-color: var(--basic-yellow);
}
.feature-item-3 a:hover {
  background-color: var(--dark-yellow);
}
.feature-item-3 a:active {
  color: var(--basic-white);
  opacity:0.3;
  background-color: var(--extra-dark-yellow);
}
.partners a {
  opacity:0.2;
}
.partners a:active {
  opacity:0.3;
}
.social a{
  background-color: var(--light-gray);
  color: var(--basic-white);
}
.social a:hover{
  background-color: var(--dark-pink);
  color: var(--basic-white);
}
.social a:active{
  background-color: var(--extra-dark-pink);
  opacity: 0.3;
  color: var(--basic-white);
}
.send {
  color: var(--basic-white);
  background-color: var(--basic-pink);
}
.send:hover {
  background-color: var(--dark-pink);
  color: var(--basic-white);
}
.send:active {
  color: var(--basic-white);
  opacity:0.3;
  background-color: var(--extra-dark-pink);
}



.banner h1{
  color: var(--basic-black);
  background-color: var(--basic-neutral);
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.show {
  font-size: 16px;
  font-weight: 500;
}
.filters li{
  font-size: 16px;
  font-weight: 400;
}
.sorting span {
  font-size: 18px;
  font-weight: 700;
}
.next{
  color: var(--basic-black);
  background-color: var(--basic-neutral);
}
.next:hover{
  color: var(--basic-black);
  background-color: var(--middle-gray);
}
.next:active{
  background-color: var(--dark-gray);
  color: var(--basic-black);
  opacity:30%;
}

.show{
  color: var(--basic-black);
  background-color: var(--basic-neutral);
}
.show:hover{
  color: var(--basic-black);
  background-color: var(--middle-gray);
}
.show:active{
  background-color: var(--dark-gray);
  color: var(--basic-black);
  opacity:30%;
}

.pages a{
  color: var(--basic-black);
  background-color: var(--basic-neutral);
}
.pages a:hover{
  color: var(--basic-black);
  background-color: var(--middle-gray);
}
.pages a:active{
  background-color: var(--dark-gray);
  color: var(--basic-black);
  opacity:30%;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.pages .active-page {
  background-color: var(--basic-white);
  color: var(--basic-black);
  border-width:3px;
  border-style: solid;
  border-color: var(--border-gray);
}



.sorting {
font-weight: 400;
font-size: 14px;
}
.sorting a{
  color: var(--basic-black);
  opacity:30%;
  font-size: 14px;
  font-weight: 400;
}
.sorting a:hover{
  color: var(--basic-black);
  opacity:60%;
  font-size: 14px;
  font-weight: 400;
}
.sorting a:active{
  color: var(--basic-black);
  opacity:100%;
  font-size: 14px;
  font-weight: 400;
}

.slide-2, .slide-3{
  display:none;
}

/* grid */
.page {
  height:100%;
}
.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.main-header {
  width: 100%;
}
.top-header {
  width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
}
.promo {
  width: 100%;
  background-color: var(--basic-neutral);
}

.slide-1 {
  display: grid;
  width: 1200px;
  grid-template-columns: 400px 760px;
  grid-template-rows: auto;
  margin: 0 auto;

}
.slide-1 h3 {
  line-height: 1;
}
.slide-1 p {
  line-height: 2;
}
.control {
  display: center;
}

.page-footer {
  width: 100%;
}

.social {
  display: grid;
  grid-template-columns: 260px auto;
}

.features {
  display: grid;
  width: 1200px;
  grid-template-columns: 300px 300px 300px;
  margin: 0 auto;
}

.container{
  display: grid;
  grid-template-columns: 650px 360px;
  width: 1200px;
  margin: 0 auto ;
}
.sorting {
  display: grid;

  width: 1200px;
  margin: 0 auto ;
}
.partners {
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
}
.all-filters {
  width: 1200px;
  margin: 0 auto ;
  display: grid;
}
.portfolio ul{
  display: grid;
  grid-template-columns:360px 360px;
  grid-template-rows:580px 580px 580px;
}
.portfolio-navigation ul{
  display: grid;
  grid-template-columns: 50px 50px 50px 260px;
}
.banner {
  display: grid;
  grid-template-columns: 1fr;
  width: 1200px;
  margin: 0 auto ;
}
.content-catalog {
  width: 1200px;
  margin: 0 auto ;
  display: grid;
  grid-template-columns:260px 760px;
}
