:root {
  --basic-black: #000000;
  --basic-neutral:#EEEEEE;
  --basic-pink:#FB565A;
  --basic-green:#00CA74;
  --basic-white: #ffffff;
  --basic-yellow:#EFC849;
}
body {
  font-family: "Roboto", Arial, sans-serif;
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-black);

}
p {
  font-size: 16px;
}
.contacts {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}
.h2 {
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 30px;
}
.h3 {
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 30px;
}
#slogan{
font-size: 55px;
}
a {
  text-decoration: none;
  color: var(--basic-white);
  font-size: 16px;
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;

}
img {
  max-width: 100%;
  height: auto;
}
.main-header{
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-black);
  list-style: none;
  background-color: var(--basic-neutral);
}
.slide-1 {
  background-color: var(--basic-neutral);
}
.page-footer {
color: var(--basic-black);
text-transform:none;
font-weight: normal;
font-size: 16px;
}
#friendship {
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 36px;
}
